<app-nav>
    </app-nav>
    <div class="wrapper">
        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="page-title-box">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <h4 class="page-title">Children</h4>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-right">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Children</a></li>
                            <li class="breadcrumb-item active">Table Editable</li>
                        </ol>
                    </div>
                </div>
                <!-- end row -->
            
                    
            <div class="row">
                <div class="col-12">
                    <div class="card m-b-30">
                        <div class="card-body">
                                <form class="form-inline md-form form-sm">
                                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                                        <button class="btn btn-primary" type="submit">Search</button>
                                    </form>
                                    <div class="text-right">
                                            <a href="#editSystemUsers" class="btn btn-success" data-toggle="modal"> <span>Add Child<i class="fa fa-user"></i> </span></a>
                                            
                                        </div>
                          <br>
                            <table id="mainTable" class="table table-striped mb-0 table-editable">
                                <thead>
                                    <tr>
                                        <th>Gender</th>
                                        <th>Date Of Birth</th>
                                        <th>Firstname</th>
                                        <th>Lastname</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                            <th>Female</th>
                                            <th>2012/06/14</th>
                                            <th>Rosalia</th>
                                            <th>Paulus</th>
                                            <td>
                                                    <a href="#editSystemUsers" class="edit" data-toggle="modal"><i class="fa fa-edit" data-toggle="tooltip" title="Edit"></i></a>
                                           </td>
                                        <td>
                                            <a href="#Parent" class="delete" data-toggle="modal"><i class="fa fa-trash" data-toggle="tooltip" title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                            <th>Male</th>
                                            <th>2015/01/13</th>
                                            <th>Nelson</th>
                                            <th>Haihambo</th>
                                            <td>
                                                    <a href="#editSystemUsers" class="edit" data-toggle="modal"><i class="fa fa-edit" data-toggle="tooltip" title="Edit"></i></a>
                                           </td>
                                        <td>
                                            <a href="#Parent" class="delete" data-toggle="modal"><i class="fa fa-trash" data-toggle="tooltip" title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                            <th>Female</th>
                                            <th>2014/08/29</th>
                                            <th>Anna</th>
                                            <th>Herman</th>
                                            <td>
                                                    <a href="#editSystemUsers" class="edit" data-toggle="modal"><i class="fa fa-edit" data-toggle="tooltip" title="Edit"></i></a>
                                           </td>
                                        <td>
                                            <a href="#Parent" class="delete" data-toggle="modal"><i class="fa fa-trash" data-toggle="tooltip" title="Delete"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
    
        </div>
        <!-- end container-fluid -->
    </div>
    <!-- end wrapper -->
    
    <script>
        $('#mainTable').editableTableWidget().numericInputExample().find('td:first').focus();
    </script>
    
    <app-footer></app-footer>
    
  
     <!-- Delete Modal HTML -->
    <div id="Parent" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form>
                        <div class="modal-header">						
                            <h4 class="modal-title">Delete Child</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">					
                            <p>?Are you sure you want to delete these Records</p>
                            <p class="text-warning"><small>This action cannot be undone.</small></p>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                            <input type="submit" class="btn btn-danger" value="Delete">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- modal  -->

  <!-- Edit Modal HTML -->
  <div id="editSystemUsers" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">						
                        <h4 class="modal-title">Edit Child's details</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">					
                        <div class="form-row mb-4">
                            <div class="col">
                                <!-- Card Number -->
                                <input type="text" id="Firstname" class="form-control" required placeholder="Firstname">
                            </div>  

                        </div>
                        
                        <div class="form-row mb-4">
                                <div class="col">
                                    <!-- user name -->
                                    <input type="text" id="Lastname" class="form-control" required placeholder="Lastname">
                                </div>    
                        </div>
                    <div class="form-row mb-4">
                            <div class="col">
                                    <select class="custom-select custom-select-sm">
                                            <option selected>Gender</option>
                                            <option value="1">Male</option>
                                            <option value="2">False</option>
                                         </select>
                             </div>  
                             <div class="col">
                                    <!-- Date -->
                                    <input type="date" id="Date" class="form-control" required placeholder="Date">
                                </div>  
                     </div>       
                    </div>
                    
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-info" value="Save">
                    </div>
                </form>
            </div>
        </div>
    </div>
        <script src="/src/assets/js/fuction.js"></script>
