

    <!-- Begin page -->
      <div class="mt-5 pt-5">                                                                       
        <div class="container">
          
            <!-- end row -->
            <div class="account-pages">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="text-center mb-5">
                                <div class="maintenance-img mb-5">
                                    <img src="assets/images/maintenance-img.png" alt="" class="img-fluid mx-auto d-block">
                                </div>
                                <h4 class="mt-4 text-uppercase">Let's  get you started with Watch me</h4>
                                <p>To get you started please provide your e-mail adress below and exprience an amazing features that will transform your world</p>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->
    
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="comming-watch text-center mb-5">
                                <div class="countdown"><div><div class="card card-body p-3"><span class="countdown-num">200</span><span class="text-uppercase">days</span></div><div class="card card-body p-3"><span class="countdown-num">04</span><span class="text-uppercase">hours</span></div></div><div class="lj-countdown-ms "><div class="card card-body p-3"><span class="countdown-num">33</span><span class="text-uppercase">minutes</span></div><div class="card card-body p-3"><span class="countdown-num">09</span><span class="text-uppercase">seconds</span></div></div></div>
                            </div>
        
                        </div>
                    </div>
                    <!-- end row -->

                    <div class="text-center coming-soon-search-form pt-4">
                            <form action="#">
                                <input type="text" placeholder="Enter email address">
                                <button type="submit" class="btn btn-primary">Get started</button>
                            </form>
                        </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="text-center">
                        <h5>Watch Me features</h5>
                        <p class="text-muted">Ready to get started, with this amazing App user have access to multiple features such as ....</p>
                    </div>
                </div>
            </div>

    <!-- END wrapper -->
            <div class="row mt-4 align-items-center">
            
                <div class="col-lg-4">
                    <div class="card mb-4">                                                                                                  
                        <div class="card-body">
                            <i class="mdi mdi-airplane-takeoff font-30"></i>
                            <h5 class="font-18 mb-3">Why is the Site Down?</h5>
                            <p class="text-muted mb-0">If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual language.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <i class="mdi mdi-clock-alert font-30"></i>
                            <h5 class="mb-3 font-18">What is the Downtime?</h5>
                            <p class="text-muted mb-0">Everyone realizes why a new common language would be desirable one could refuse to pay expensive that translators.</p>
                        </div>
                    </div>

                </div>

                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <i class="mdi mdi-email font-30"></i>
                            <h5 class="font-18 mb-3">Do you need Support?</h5>
                            <p class="text-muted mb-0">If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual.</p>
                        </div>
                    </div>

                </div>
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <div class="text-center">
                            <h5>Choose your Plan</h5>
                            <p class="text-muted">If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages will be more simple and regular.</p>
                        </div>
                    </div>
                </div>
    
                <div class="row m-t-30">
                        <div class="col-xl-3 col-md-6">
                            <div class="card pricing-box mt-4">
                                <div class="pricing-icon">
                                    <i class="ti-shield bg-success"></i>
                                </div>
                                <div class="pricing-content">
                                    <div class="text-center">
                                        <h5 class="text-uppercase mt-5">Starter</h5>
                                        <div class="pricing-plan mt-4 pt-2">
                                            <h1><sup>$ </sup>19 <small class="font-16">/ month</small></h1>
                                        </div>
                                        <div class="pricing-border mt-5"></div>
                                    </div>
                                    <div class="pricing-features mt-4">
                                            <p class="font-14 mb-2"> Free Setup<i class="ti-check-box text-success mr-3"></i></p>
                                            <p class="font-14 mb-2"> GB Storage<i class="ti-check-box text-success mr-3"></i></p>
                                            <p class="font-14 mb-2"> Unlmited Users<i class="ti-check-box text-success mr-3"></i></p>
                                            <p class="font-14 mb-2"> SEO optimization<i class="ti-check-box text-success mr-3"></i></p>
                                            <p class="font-14 mb-2"> Customer Support<i class="ti-check-box text-success mr-3"></i></p>
                                    </div>
                                    <div class="pricing-border mt-4"></div>
                                    <div class="mt-4 pt-3 text-center">
                                        <a href="" class="btn btn-success btn-lg w-100 btn-round">Join Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="col-xl-3 col-md-6">
                                <div class="card pricing-box mt-4">
                                    <div class="pricing-icon">
                                        <i class="ti-shield bg-primary"></i>
                                    </div>
                                    <div class="pricing-content">
                                        <div class="text-center">
                                            <h5 class="text-uppercase mt-5">Professional</h5>
                                            <div class="pricing-plan mt-4 pt-2">
                                                <h1><sup>$ </sup>39 <small class="font-16">/ month</small></h1>
                                            </div>
                                            <div class="pricing-border mt-5"></div>
                                        </div>
                                        <div class="pricing-features mt-4">
                                            <p class="font-14 mb-2"> Free Setup<i class="ti-check-box text-primary mr-3"></i></p>
                                            <p class="font-14 mb-2"> GB Storage<i class="ti-check-box text-primary mr-3"></i></p>
                                            <p class="font-14 mb-2"> Unlmited Users<i class="ti-check-box text-primary mr-3"></i></p>
                                            <p class="font-14 mb-2"> SEO optimization<i class="ti-check-box text-primary mr-3"></i></p>
                                            <p class="font-14 mb-2"> Customer Support<i class="ti-check-box text-primary mr-3"></i></p>
                                        </div>
                                        <div class="pricing-border mt-4"></div>
                                        <div class="mt-4 pt-3 text-center">
                                            <a href="" class="btn btn-primary btn-lg w-100 btn-round">Join Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
    
                            <div class="col-xl-3 col-md-6">
                                    <div class="card pricing-box mt-4">
                                        <div class="pricing-icon">
                                            <i class="ti-shield bg-warning"></i>
                                        </div>
                                        <div class="pricing-content">
                                            <div class="text-center">
                                                <h5 class="text-uppercase mt-5">Enterprise</h5>
                                                <div class="pricing-plan mt-4 pt-2">
                                                    <h1><sup>$ </sup>79 <small class="font-16">/ month</small></h1>
                                                </div>
                                                <div class="pricing-border mt-5"></div>
                                            </div>
                                            <div class="pricing-features mt-4">
                                                <p class="font-14 mb-2"> Free Setup<i class="ti-check-box text-warning mr-3"></i></p>
                                                <p class="font-14 mb-2"> GB Storage<i class="ti-check-box text-warning mr-3"></i></p>
                                                <p class="font-14 mb-2"> Unlmited Users<i class="ti-check-box text-warning mr-3"></i></p>
                                                <p class="font-14 mb-2"> SEO optimization<i class="ti-check-box text-warning mr-3"></i></p>
                                                <p class="font-14 mb-2"> Customer Support<i class="ti-check-box text-warning mr-3"></i></p>
                                            </div>
                                            <div class="pricing-border mt-4"></div>
                                            <div class="mt-4 pt-3 text-center">
                                                <a href="" class="btn btn-warning btn-lg w-100 btn-round">Join Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="col-xl-3 col-md-6">
                                        <div class="card pricing-box mt-4">
                                            <div class="pricing-icon">
                                                <i class="ti-shield bg-info"></i>
                                            </div>
                                            <div class="pricing-content">
                                                <div class="text-center">
                                                    <h5 class="text-uppercase mt-5">Unlimited</h5>
                                                    <div class="pricing-plan mt-4 pt-2">
                                                        <h1><sup>$ </sup>99 <small class="font-16">/ month</small></h1>
                                                    </div>
                                                    <div class="pricing-border mt-5"></div>
                                                </div>
                                                <div class="pricing-features mt-4">
                                                    <p class="font-14 mb-2"> Free Setup<i class="ti-check-box text-info mr-3"></i></p>
                                                    <p class="font-14 mb-2"> GB Storage<i class="ti-check-box text-info mr-3"></i></p>
                                                    <p class="font-14 mb-2"> Unlmited Users<i class="ti-check-box text-info mr-3"></i></p>
                                                    <p class="font-14 mb-2"> SEO optimization<i class="ti-check-box text-info mr-3"></i></p>
                                                    <p class="font-14 mb-2"> Customer Support<i class="ti-check-box text-info mr-3"></i></p>
                                                </div>
                                                <div class="pricing-border mt-4"></div>
                                                <div class="mt-4 pt-3 text-center">
                                                    <a href="" class="btn btn-info btn-lg w-100 btn-round">Join Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  
                        
                                    <div class="row justify-content-center">
                                        <div class="col-md-6">
                                            <div class="text-center">
                                                <h5>Frequently asked Questions</h5>
                                                <p class="text-muted">If several languages coalesce, the grammar of the resulting language is more simple and regular than that of the individual languages will be more simple and regular.</p>
                                            </div>
                                        </div>
                                    </div>
                        
                                    <div class="row m-t-30">
                                        <div class="col-lg-4">
                                            <div class="card faq-box border-success">
                                                <div class="card-body">
                                                    <div class="faq-icon float-right">
                                                        <i class="fas fa-question-circle font-24 mt-2 text-success"></i>
                                                    </div>
                                                    <h5 class="text-success">01.</h5>
                                                    <h5 class="font-16 mb-3 mt-4">What is Lorem Ipsum?</h5>
                                                    <p class="text-muted mb-0">Phasellus eros odio Curabitur hendrerit neque at vestibulum consequat Cras nibh ipsum tempor ac ex eget eu elit eget cursus Fusce eu consequat nisl Praesent vel dictum enim ac convallis dolor Proin in velit vel enim laoreet cursus.</p>
                                                </div>
                                            </div>
                                        </div>
                        
                                        <div class="col-lg-4">
                                            <div class="card faq-box border-primary">
                                                <div class="card-body">
                                                    <div class="faq-icon float-right">
                                                        <i class="fas fa-question-circle font-24 mt-2 text-primary"></i>
                                                    </div>
                                                    <h5 class="text-primary">02.</h5>
                                                    <h5 class="font-16 mb-3 mt-4">Where can I get some?</h5>
                                                    <p class="text-muted mb-0">Aliquam sed efficitur urna Integer mattis metus risus egestas hendrerit condimentum dolor auctor quis In vitae dictum eros 
                                                        Vestibulum aliquet tortor sapien 
                                                        ut sodales massa faucibus nec cras tristique condintum rsum a tincidunt Ut lacinia ornare tempor.</p>
                                                </div>
                                            </div>
                                        </div>
                        
                                        <div class="col-lg-4">
                                            <div class="card faq-box border-warning">
                                                <div class="card-body">
                                                    <div class="faq-icon float-right">
                                                        <i class="fas fa-question-circle font-24 mt-2 text-warning"></i>
                                                    </div>
                                                    <h5 class="text-warning">03.</h5>
                                                    <h5 class="font-16 mb-3 mt-4">Where does it come from?</h5>
                                                    <p class="text-muted mb-0">Quisque aliquet egestas vel tincidunt sem pretium mattis suspendisse euismod at elit eu tempor Nunc ac vehicula dolor Maecenas
                                                         at tincidunt accumsan nibh Sed dapibus
                                                         augue quis dignissim ultrices turpis mauris porta lectus sed ullamcorper leo risus in metus.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        
                                    <div class="row">
                                            <div class="col-lg-4">
                                                <div class="card faq-box border-danger">
                                                    <div class="card-body">
                                                        <div class="faq-icon float-right">
                                                            <i class="fas fa-question-circle font-24 mt-2 text-danger"></i>
                                                        </div>
                                                        <h5 class="text-danger">04.</h5>
                                                        <h5 class="font-16 mb-3 mt-4">Why do we use it?</h5>
                                                        <p class="text-muted mb-0">Nullam odio justo ullamcorper aliquet ex sit amet efficitur facilisis ligula Aenean euismod vel tellus ac feugiat Morbi finibus nisl 
                                                            in dui facilisis
                                                             ut iaculis urna facilisis Suspendisse potenti Proin interdum nulla nulla sed faucibus Integer sapien pretium vestibulum.</p>
                                                    </div>
                                                </div>
                                            </div>
                        
                                            <div class="col-lg-4">
                                                <div class="card faq-box border-info">
                                                    <div class="card-body">
                                                        <div class="faq-icon float-right">
                                                            <i class="fas fa-question-circle font-24 mt-2 text-info"></i>
                                                        </div>
                                                        <h5 class="text-info">05.</h5>
                                                        <h5 class="font-16 mb-3 mt-4">Why do we use it?</h5>
                                                        <p class="text-muted mb-0">Fermentum molestie leo at dignissim mi Donec at ex placerat pretium ex vitae porta orci Pellentesque augue lacus
                                                             dignissim tristique aliquam in
                                                             placerat feugiat sapien Fusce a enim faucibus lacinia felis a vulputate eros Aenean malesuada et ex et laoreet.</p>
                                                    </div>
                                                </div>
                                            </div>
                        
                                            <div class="col-lg-4">
                                                <div class="card faq-box border-dark">
                                                    <div class="card-body">
                                                        <div class="faq-icon float-right">
                                                            <i class="fas fa-question-circle font-24 mt-2 text-dark"></i>
                                                        </div>
                                                        <h5 class="text-dark">06.</h5>
                                                        <h5 class="font-16 mb-3 mt-4">Where does it come from?</h5>
                                                        <p class="text-muted mb-0">Suspendisse sapien urna ullamcorper vel erat at suscipit dapibus dolor Proin sodales dictum ante Vivamus non dictum metus
                                                             Sed quis leo non massa viverra rutrum in a elit Praesent Mauris pharetra mollis
                                                              enim non efficitur ipsum porttitor vitae.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>    
            </div>
        </div>
    </div>
    <!-- END wrapper -->
      
<app-footer></app-footer>

