<app-nav>
</app-nav>
<div class="wrapper">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <h4 class="page-title">System User</h4>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">System Users</a></li>
                        <li class="breadcrumb-item active">Table Editable</li>
                    </ol>
                </div>
            </div>
            <!-- end row -->
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card m-b-30">
                    <div class="card-body">
                        <div class="text-right">
                          <a href="#editSystemUsers" class="btn btn-success" data-toggle="modal"> <span>Add User<i class="fa fa-user"></i> </span></a>
                          
                      </div>
                      <br>
                        <table id="mainTable" class="table table-striped mb-0 table-editable">
                            <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Username</th>
                                    <th>Fullname</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Superuser</td>
                                    <td>Paula</td>
                                    <td>Pombili</td>
 
                                    <td>
                                        <a href="#editSystemUsers" class="edit" data-toggle="modal"><i class="fa fa-edit" data-toggle="tooltip" title="Edit"></i></a>
                                      </td>
                                    <td>
                                        <a href="#deleteSystemUsers" class="delete" data-toggle="modal"><i class="fa fa-trash" data-toggle="tooltip" title="Delete"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>user</td>
                                    <td>Imms</td>
                                    <td>{{lname}}</td>
                                    <td>
                                            <a href="#editSystemUsers" class="edit" data-toggle="modal"><i class="fa fa-edit" data-toggle="tooltip" title="Edit"></i></a>
                                   </td>
                                    <td>
                                            <a href="#deleteSystemUsers" class="delete" data-toggle="modal"><i class="fa fa-trash" data-toggle="tooltip" title="Delete"></i></a>
                                 </td>
                                </tr>
                                <tr>
                                    <td>user</td>
                                    <td>Dee</td>
                                    <td>Tomas</td>
                                    <td>
                                            <a href="#editSystemUsers" class="edit" data-toggle="modal"><i class="fa fa-edit" data-toggle="tooltip" title="Edit"></i></a>
                                   </td>
                                    <td>
                                            <a href="#deleteSystemUsers" class="delete" data-toggle="modal"><i class="fa fa-trash" data-toggle="tooltip" title="Delete"></i></a>
                                 </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->

    </div>
    <!-- end container-fluid -->
</div>
<!-- end wrapper -->

<script>
    $('#mainTable').editableTableWidget().numericInputExample().find('td:first').focus();
</script>

<app-footer></app-footer>

<!-- modal  -->
  <!-- Edit Modal HTML -->
  <div id="editSystemUsers" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">						
                        <h4 class="modal-title">Edit User details</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">					
                    <div class="form-row mb-4">
                            <div class="col">
                                <!-- Card Number -->
                                <input type="text" id="Fullname" class="form-control" required placeholder="Fullname">
                            </div>
            
                        </div>
                        <div class="form-row mb-4">
                                <div class="col">
                                    <!-- user name -->
                                    <input type="text" id="Username" class="form-control" required placeholder="User Name">
                                </div>
                                <div class="col">
                                    <!-- Card address -->
                                    <input type="text" id="email" class="form-control" required placeholder="Email">
                                </div>
                            </div>
                        <div class="form-row mb-4">
                                <div class="col">
                                    <!-- Card Number -->
                                    <input type="password" id="password" class="form-control" required placeholder="Password">
                                </div>
                                <div class="col">
                                    <!-- Card address -->
                                    <input type="password" id="Confirmpassword" class="form-control" required placeholder="Confirm Password">
                                </div>
                            </div>
                          <div class="form-row mb-4">
                                    <div class="col">
                                            <select class="custom-select custom-select-sm">
                                                    <option selected>Gender</option>
                                                    <option value="1">Male</option>
                                                    <option value="2">False</option>
                                                 </select>
                                     </div>
                                    <div class="col">
                                 <select class="custom-select custom-select-sm">
                                    <option selected>Role</option>
                                    <option value="1">Superuser</option>
                                    <option value="2">User</option>
                                 </select>
                              </div>
                          </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-info" value="Save">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Delete Modal HTML -->
    <div id="deleteSystemUsers" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">						
                        <h4 class="modal-title">Delete User</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">					
                        <p>?Are you sure you want to delete these Records</p>
                        <p class="text-warning"><small>This action cannot be undone.</small></p>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="submit" class="btn btn-danger" value="Delete">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/src/assets/js/fuction.js"></script>