
<app-nav></app-nav>
    <div class="wrapper">
        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="page-title-box">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <h4 class="page-title">System User</h4>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-right">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">System Users</a></li>
                            <li class="breadcrumb-item active">Table Editable</li>
                        </ol>
                    </div>
                </div>
                <!-- end row -->
            </div>

            <div class="row">
                 <div class="col-12">
                    <div class="card m-b-30">
                        <div class="card-body">
                            

                            <table id="mainTable" class="table table-striped mb-0 table-editable">
                                <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Username</th>
                                    <th>Fullname</th>
                                    <th>
                                        <div class="col-sm-6 col-md-3 m-t-30">
                                                    <div class=" text-center">
                                                        <button type="button" class="icon-plus" data-toggle="modal" data-target="#myModal"></button>
                                                    </div>
                                        
                                                    <!-- sample modal content -->
                                                    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                
                                        <div class="card">
        
                                            <h5 class="card-header info-color white-text text-center py-4">
                                            <strong>Edit User details</strong>
                                            </h5>
                                            <br>
                                        <!--Card content-->
                                        <div class="card-body px-lg-5 pt-0">
        
                                        <!-- Form -->
                                        <form class="text-center" style="color: #757575;" action="#!">
                                            
                                            <!-- Fullname -->
                                            <div class="md-form mt-0">
                                                    <input type="email" id="materialRegisterFormEmail" class="form-control">
                                                    <label for="materialRegisterFormEmail">Fullname</label>
                                                </div>
        
        
                                        <!-- Username -->
                                                <div class="md-form mt-0">
                                                <input type="email" id="materialRegisterFormEmail" class="form-control">
                                                <label for="materialRegisterFormEmail">Username</label>
                                                </div>
        
                                        <!-- Password -->
                                            <div class="md-form">
                                            <input type="password" id="materialRegisterFormPassword" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock">
                                            <label for="materialRegisterFormPassword">Password</label>
                                            <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                                                At least 8 characters and 1 digit
                                            </small>
                                            </div>

                                             <!--Confirm Password -->
                                             <div class="md-form">
                                                    <input type="password" id="materialRegisterFormPassword" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock">
                                                    <label for="materialRegisterFormPassword">Confirm Password</label>
                                                    <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                                                        At least 8 characters and 1 digit
                                                    </small>
                                                    </div>
        
                                       <!-- Subject -->
                                    <label>Roles</label>
                                    <select class="browser-default custom-select mb-4">
                                        <option value="" disabled>Choose option</option>
                                        <option value="1" selected>Superuser</option>
                                        <option value="2">User</option>
                                        <option value="3">User</option>
                                        <option value="4">Supersuperuser</option>
                                    </select>
                                        </form>
                                        <!-- Form -->
        
                                        </div>
        
                                        </div>
                                        <!-- Material form register -->
                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                                                                                <button type="button" class="btn btn-primary waves-effect waves-light">Add User</button>
                                                                            </div>
                                                                        </div><!-- /.modal-content -->
                                                                    </div><!-- /.modal-dialog -->
                                                                </div><!-- /.modal -->
                                                            </div>
                                        </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Superuser</td>
                                    <td>Paula</td>
                                    <td>Pombili</td>
                                    <div class="col-sm-6 col-md-3 m-t-30">
                                            <div class=" text-center">
                                                <button type="button" class="fa fa-edit" data-toggle="modal" data-target="#myModal"></button>
                                            </div>
                                
                                            <!-- sample modal content -->
                                            <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        
                                <div class="card">

                                    <h5 class="card-header info-color white-text text-center py-4">
                                    <strong>Edit User details</strong>
                                    </h5>
                                    <br>
                                <!--Card content-->
                                <div class="card-body px-lg-5 pt-0">

                                <!-- Form -->
                                <form class="text-center" style="color: #757575;" action="#!">
                                    
                                    <!-- Fullname -->
                                    <div class="md-form mt-0">
                                            <input type="email" id="materialRegisterFormEmail" class="form-control">
                                            <label for="materialRegisterFormEmail">Fullname</label>
                                        </div>


                                <!-- Username -->
                                        <div class="md-form mt-0">
                                        <input type="email" id="materialRegisterFormEmail" class="form-control">
                                        <label for="materialRegisterFormEmail">Username</label>
                                        </div>

                                <!-- Password -->
                                    <div class="md-form">
                                    <input type="password" id="materialRegisterFormPassword" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock">
                                    <label for="materialRegisterFormPassword">Password</label>
                                    <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                                        At least 8 characters and 1 digit
                                    </small>
                                    </div>

                                     <!--Confirm Password -->
                                     <div class="md-form">
                                            <input type="password" id="materialRegisterFormPassword" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock">
                                            <label for="materialRegisterFormPassword">Confirm Password</label>
                                            <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                                                At least 8 characters and 1 digit
                                            </small>
                                            </div>

                               <!-- Subject -->
                            <label>Roles</label>
                            <select class="browser-default custom-select mb-4">
                                <option value="" disabled>Choose option</option>
                                <option value="1" selected>Superuser</option>
                                <option value="2">User</option>
                                <option value="3">User</option>
                                <option value="4">Supersuperuser</option>
                            </select>
                                </form>
                                <!-- Form -->

                                </div>

                                </div>
                                <!-- Material form register -->
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                                                                        <button type="button" class="btn btn-primary waves-effect waves-light">Save changes</button>
                                                                    </div>
                                                                </div><!-- /.modal-content -->
                                                            </div><!-- /.modal-dialog -->
                                                        </div><!-- /.modal -->
                                                    </div>
                                                    <td><i class="fa fa-trash" aria-hidden="true"></i></td>    
                                </tr>
                                <tr>
                                    <td>user</td>
                                    <td>Imms</td>
                                    <td>Immanuel</td>
                                    <div class="col-sm-6 col-md-3 m-t-30">
                                            <div class="text-center">
                                                <button type="button" class="fa fa-edit" data-toggle="modal" data-target="#myModal"></button>
                                            </div>
                                
                                            <!-- sample modal content -->
                                            <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        
                                <div class="card">

                                    <h5 class="card-header info-color white-text text-center py-4">
                                    <strong>Edit User details</strong>
                                    </h5>
                                    <br>
                                <!--Card content-->
                                <div class="card-body px-lg-5 pt-0">

                                <!-- Form -->
                                <form class="text-center" style="color: #757575;" action="#!">
                                    
                                    <!-- Fullname -->
                                    <div class="md-form mt-0">
                                            <input type="email" id="materialRegisterFormEmail" class="form-control">
                                            <label for="materialRegisterFormEmail">Fullname</label>
                                        </div>


                                <!-- Username -->
                                        <div class="md-form mt-0">
                                        <input type="email" id="materialRegisterFormEmail" class="form-control">
                                        <label for="materialRegisterFormEmail">Username</label>
                                        </div>

                                <!-- Password -->
                                    <div class="md-form">
                                    <input type="password" id="materialRegisterFormPassword" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock">
                                    <label for="materialRegisterFormPassword">Password</label>
                                    <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                                        At least 8 characters and 1 digit
                                    </small>
                                    </div>

                                     <!--Confirm Password -->
                                     <div class="md-form">
                                            <input type="password" id="materialRegisterFormPassword" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock">
                                            <label for="materialRegisterFormPassword">Confirm Password</label>
                                            <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                                                At least 8 characters and 1 digit
                                            </small>
                                            </div>

                               <!-- Subject -->
                            <label>Roles</label>
                            <select class="browser-default custom-select mb-4">
                                <option value="" disabled>Choose option</option>
                                <option value="1" selected>Superuser</option>
                                <option value="2">User</option>
                                <option value="3">User</option>
                                <option value="4">Supersuperuser</option>
                            </select>
                                </form>
                                <!-- Form -->

                                </div>

                                </div>
                                <!-- Material form register -->
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                                                                        <button type="button" class="btn btn-primary waves-effect waves-light">Save changes</button>
                                                                    </div>
                                                                </div><!-- /.modal-content -->
                                                            </div><!-- /.modal-dialog -->
                                                        </div><!-- /.modal -->
                                                    </div> 
                                        <td><i class="fa fa-trash" aria-hidden="true"></i></td>            
                                </tr>
                                <tr>
                                        <td>user</td>
                                        <td>Dee</td>
                                        <td>Tomas</td>
                                        <div class="col-sm-6 col-md-3 m-t-30">
                                                <div class = "text-center">
                                                    <button type="button" class="fa fa-edit" data-toggle="modal" data-target="#myModal"></button>
                                                </div>
                                    
                                                <!-- sample modal content -->
                                                <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            
                                    <div class="card">
    
                                        <h5 class="card-header info-color white-text text-center py-4">
                                        <strong>Edit User details</strong>
                                        </h5>
                                        <br>
                                    <!--Card content-->
                                    <div class="card-body px-lg-5 pt-0">
    
                                    <!-- Form -->
                                    <form class="text-center" style="color: #757575;" action="#!">
                                        
                                        <!-- Fullname -->
                                        <div class="md-form mt-0">
                                                <input type="email" id="materialRegisterFormEmail" class="form-control">
                                                <label for="materialRegisterFormEmail">Fullname</label>
                                            </div>
    
    
                                    <!-- Username -->
                                            <div class="md-form mt-0">
                                            <input type="email" id="materialRegisterFormEmail" class="form-control">
                                            <label for="materialRegisterFormEmail">Username</label>
                                            </div>
    
                                    <!-- Password -->
                                        <div class="md-form">
                                        <input type="password" id="materialRegisterFormPassword" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock">
                                        <label for="materialRegisterFormPassword">Password</label>
                                        <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                                            At least 8 characters and 1 digit
                                        </small>
                                        </div>

                                         <!--Confirm Password -->
                                    <div class="md-form">
                                            <input type="password" id="materialRegisterFormPassword" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock">
                                            <label for="materialRegisterFormPassword">Confirm Password</label>
                                            <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                                                At least 8 characters and 1 digit
                                            </small>
                                            </div>
    
                                   <!-- Subject -->
                                <label>Roles</label>
                                <select class="browser-default custom-select mb-4">
                                    <option value="" disabled>Choose option</option>
                                    <option value="1" selected>Superuser</option>
                                    <option value="2">User</option>
                                    <option value="3">User</option>
                                    <option value="4">Supersuperuser</option>
                                </select>
                                    </form>
                                    <!-- Form -->
    
                                    </div>
    
                                    </div>
                                    <!-- Material form register -->
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button>
                                                                            <button type="button" class="btn btn-primary waves-effect waves-light">Save changes</button>
                                                                        </div>
                                                                    </div><!-- /.modal-content -->
                                                                </div><!-- /.modal-dialog -->
                                                            </div><!-- /.modal -->
                                                        </div>
                                                   <td><i class="fa fa-trash" aria-hidden="true"></i></td>     
                                    </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                                </div> <!-- end col -->
                                </div> <!-- end row -->  

                                </div>
                                <!-- end container-fluid -->
                                </div>
                                <!-- end wrapper -->
                



    <script>
        $('#mainTable').editableTableWidget().numericInputExample().find('td:first').focus();
    </script>

<app-footer></app-footer>
