<app-nav>
</app-nav>
<div class="wrapper">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <h4 class="page-title">System User</h4>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">System Users</a></li>
                        <li class="breadcrumb-item active">Table Editable</li>
                    </ol>
                </div>
            </div>
            <!-- end row -->
        </div>

        <div class="row">
            <div class="col-12">
                <div class="card m-b-30">
                    <div class="card-body">
                        <div class="text-right">
                                <form class="form-inline md-form form-sm">
                                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                                        <button class="btn btn-primary" type="submit">Search</button>
                                </form>

                          <a href="javascript:;" class="btn btn-success" (click)="newUser()" data-toggle="modal" data-target="#adduser"> Add User<i class="fa fa-user"></i> </a>
                          
                      </div>
                      <br>
                        <table id="mainTable" class="table table-striped mb-0 table-editable">
                            <thead>
                                <tr>
                                    <th>Role</th>
                                    <th>Full Name</th>
                                    <th>Username</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of peopleService.users">
                                    <td>{{user.role}}</td>
                                    <td>{{user.fullname}}</td>
                                    <td>{{user.username}}</td>
 
                                    <td>
                                        <a href="javascript:;" (click)="peopleService.selectedUser=user"  class="edit" data-toggle="modal" data-target="#adduser"><i class="fa fa-edit" data-toggle="tooltip" title="Edit"></i></a>
                                      </td>
                                    <td>
                                        <a href="javascript:;" (click)="peopleService.selectedUser=user"  class="delete" data-toggle="modal" data-target="#deleteuser"><i class="fa fa-trash" data-toggle="tooltip" title="Delete"></i></a>
                                    </td>
                                </tr>
                                
                                
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->

    </div>
    <!-- end container-fluid -->
</div>
<!-- end wrapper -->

<script>
    $('#mainTable').editableTableWidget().numericInputExample().find('td:first').focus();
</script>

<app-footer></app-footer>

<!-- modal  -->
  <!-- Edit Modal HTML -->
  <div id="adduser" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">						
                        <h4 class="modal-title">User</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">					
                    
                        <div class="form-row mb-4">
                                <div class="col">
                                    <!-- user name -->
                                    <input type="text"  name="_username" [(ngModel)]="peopleService.selectedUser.username" class="form-control" required placeholder="Username">
                                </div>
                                <div class="col">
                                    <!-- Card address -->
                                    <input type="text" name="_fullname" [(ngModel)]="peopleService.selectedUser.fullname" class="form-control" required placeholder="Full Name">
                                </div>
                            </div>
                            <div class="form-row mb-4">
                                <div class="col" [hidden]="peopleService.selectedUser._id">
                                    <!-- Card Number -->
                                    <input type="password" name="_password" [(ngModel)]="peopleService.selectedUser.password" class="form-control" required placeholder="Password">
                                </div>

                                <div class="col">
                                        <select class="custom-select custom-select-sm" name="_role" [(ngModel)]="peopleService.selectedUser.role">
                                            <option *ngFor="let role of peopleService.roles" [value]="role">{{role}}</option>
                                        </select>
                                  </div>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal" value="Cancel"></button>
                        <button class="btn btn-info" [hidden]="peopleService.selectedUser._id" (click)="peopleService.addUser();">Save</button>
                        <button class="btn btn-info" [hidden]="!peopleService.selectedUser._id" (click)="peopleService.updateUser();">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Delete Modal HTML -->
    <div id="deleteuser" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">						
                        <h4 class="modal-title">Delete User</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">					
                        <p>?Are you sure you want to delete these Records</p>
                        <p class="text-warning"><small>This action cannot be undone</small></p>
                    </div>
                    <div class="modal-footer">
                        <button  class="btn btn-default" data-dismiss="modal">Close</button>
                        <button class="btn btn-danger" (click)="peopleService.deleteUser();" value="Delete">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="/src/assets/js/fuction.js"></script>