<app-nav>
</app-nav>
<div class="wrapper">
    <div class="container-fluid">
        <!-- Page-Title -->
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <h4 class="page-title">SOS contacts</h4>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-right">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">SOS contacts</a></li>
                        <li class="breadcrumb-item active">Table Editable</li>
                    </ol>
                </div>
            </div>
            <!-- end row -->
        
                
        <div class="row">
            <div class="col-12">
                <div class="card m-b-30">
                    <div class="card-body">
                            <div class="text-right">
                            
                                    <form class="form-inline md-form form-sm">
                                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                                        <button class="btn btn-primary" type="submit">Search</button>
                                    </form>
                                    <a href="javascript:;" class="btn btn-success" (click)="newSoS()" data-toggle="modal" data-target="#addsos"> Add SOS contact<i class="fa fa-tty"></i> </a>
                            </div>
                                    
              
                        <table id="mainTable" class="table table-striped mb-0 table-editable">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Location</th>
                                    <th>Telephone</th>
                                    <th>Shortcode</th>
                                    <th>Contact Person</th>
                                    <th>Edit</th>
                                    <th>Delete</th>   
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let sos of peopleService.sos" >
                                        <td>{{sos.name}}</td>
                                        <td>{{sos.location}}</td>
                                        <td>{{sos.telphone}}</td>
                                        <td>{{sos.shortcode}}</td>
                                        <td>{{sos.contact_person}}</td>
                                        <td>
                                            <a href="javascript:;" (click)="peopleService.selectedSos=sos"  class="edit" data-toggle="modal" data-target="#addsos"><i class="fa fa-edit" data-toggle="tooltip" title="Edit"></i></a>
                                        </td>
                                        <td>
                                            <a href="javascript:;" (click)="peopleService.selectedSos=sos"  class="delete" data-toggle="modal" data-target="#deletesos"><i class="fa fa-trash" data-toggle="tooltip" title="Delete"></i></a>
                                        </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->

    </div>
    <!-- end container-fluid -->
</div>
<!-- end wrapper -->

<script>
    $('#mainTable').editableTableWidget().numericInputExample().find('td:first').focus();
</script>

<app-footer></app-footer>


 <!-- modal  -->
  <!-- Edit Modal HTML -->
  <div id="addsos" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">						
                    <h4 class="modal-title">SOS contact</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">					
                
                    <div class="form-row mb-4">
                            <div class="col">
                                <!-- Name -->
                                <input type="text"  name="_name" [(ngModel)]="peopleService.selectedSos.name" class="form-control" required placeholder="Name">
                            </div>
                            <div class="col">
                                <!-- Location -->
                                <input type="text" name="_location" [(ngModel)]="peopleService.selectedSos.location" class="form-control" required placeholder="Location">
                            </div>
                        </div>
                        <div class="form-row mb-4">
                            <div class="col" >
                                <!-- Telephone -->
                                <input type="text" name="_telphone" [(ngModel)]="peopleService.selectedSos.telphone" class="form-control" required placeholder="Telephone">
                            </div>
                        </div>
                        <div class="form-row mb-4">
                            <div class="col" >
                                <!-- Shortcode -->
                                <input type="number" name="_shortcode" [(ngModel)]="peopleService.selectedSos.shortcode" class="form-control" required placeholder="Shortcode">
                            </div>
                        </div>
                        <div class="form-row mb-4">
                            <div class="col">
                                <!-- Contact Person -->
                                <input type="text" name="_contact_person" [(ngModel)]="peopleService.selectedSos.contact_person" class="form-control" required placeholder="Contact Person">
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal" value="Cancel"></button>
                    <button class="btn btn-info" [hidden]="peopleService.selectedSos._id" (click)="peopleService.addSoS();"  data-dismiss="modal">Save</button>
                    <button class="btn btn-info" [hidden]="!peopleService.selectedSos._id" (click)="peopleService.updateSoS();"  data-dismiss="modal">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Delete Modal HTML -->
<div id="deletesos" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">						
                    <h4 class="modal-title">Delete Contact</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">					
                    <p>?Are you sure you want to delete these Records</p>
                    <p class="text-warning"><small>This action cannot be undone</small></p>
                </div>
                <div class="modal-footer">
                    <button  class="btn btn-default" data-dismiss="modal">Close</button>
                    <button class="btn btn-danger" (click)="peopleService.deleteSoS();" value="Delete">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
    <script src="/src/assets/js/fuction.js"></script>

