<app-nav>
    </app-nav>
    <div class="wrapper">
        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="page-title-box">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <h4 class="page-title">Parents</h4>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-right">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Parents</a></li>
                            <li class="breadcrumb-item active">Table Editable</li>
                        </ol>
                    </div>
                </div>
                <!-- end row -->
            
                    
            <div class="row">
                <div class="col-12">
                    <div class="card m-b-30">
                        <div class="card-body">
                                <form class="form-inline md-form form-sm">
                                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                                        <button class="btn btn-primary" type="submit">Search</button>
                                    </form>
                          <br>
                            <table id="mainTable" class="table table-striped mb-0 table-editable">
                                <thead>
                                    <tr>
                                        <th>Gender</th>
                                        <th>Occupation</th>
                                        <th>Adress</th>
                                        <th>Email</th>
                                        <th>Cellphone</th>
                                        <th>Firstname</th>
                                        <th>Lastname</th>
                                        <th>Block/Unblock</th>
                                        <th>Delete</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                            <th>Male</th>
                                            <th>Dentist</th>
                                            <th>Otjomuise</th>
                                            <th>paulus@gmail.com</th>
                                            <th>0811256724</th>
                                            <th>Lucas</th>
                                            <th>Paulus</th>
     
                                        <td>
                                                <button type="button" class="btn btn-warning"  href="#Parent"  data-toggle="modal">Block</button>
                                          </td>
                                        <td>
                                            <a href="#Parent" class="delete" data-toggle="modal"><i class="fa fa-trash" data-toggle="tooltip" title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                            <th>Female</th>
                                            <th>Teacher</th>
                                            <th>Ongwediva</th>
                                            <th>mary@gmail.com</th>
                                            <th>085255554</th>
                                            <th>marjam</th>
                                            <th>Haihambo</th>
                                            <td>
                                                <button type="button" class="btn btn-warning"  href="#Parent"  data-toggle="modal">Block</button>
                                          </td>
                                        <td>
                                            <a href="#Parent" class="delete" data-toggle="modal"><i class="fa fa-trash" data-toggle="tooltip" title="Delete"></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                            <th>Female</th>
                                            <th>Accountant</th>
                                            <th>Hochlandpark</th>
                                            <th>eve@gmail.com</th>
                                            <th>081438765</th>
                                            <th>Eve</th>
                                            <th>Herman</th>
                                            <td>
                                                <button type="button" class="btn btn-warning"  href="#Parent"  data-toggle="modal">Block</button>
                                          </td>
                                        <td>
                                            <a href="#Parent" class="delete" data-toggle="modal"><i class="fa fa-trash" data-toggle="tooltip" title="Delete"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
    
        </div>
        <!-- end container-fluid -->
    </div>
    <!-- end wrapper -->
    
    <script>
        $('#mainTable').editableTableWidget().numericInputExample().find('td:first').focus();
    </script>
    
    <app-footer></app-footer>
    
  
     <!-- Delete Modal HTML -->
    <div id="Parent" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form>
                        <div class="modal-header">						
                            <h4 class="modal-title">Delete Parent</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">					
                            <p>?Are you sure you want to delete these Records</p>
                            <p class="text-warning"><small>This action cannot be undone.</small></p>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                            <input type="submit" class="btn btn-danger" value="Delete">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Block Modal HTML -->
        <div id="Parent" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form>
                        <div class="modal-header">						
                            <h4 class="modal-title">Block Parent</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">					
                            <p>?Are you sure you want to block these Records</p>
                            <p class="text-warning"><small>This action cannot be undone.</small></p>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                            <button input type="Block" class="btn btn-danger" value="Block">Block</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="/src/assets/js/fuction.js"></script>