<app-nav>
    </app-nav>
    <div class="wrapper">
        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="page-title-box">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <h4 class="page-title">Parents</h4>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-right">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Parents</a></li>
                            <li class="breadcrumb-item active">Table Editable</li>
                        </ol>
                    </div>
                </div>
                <!-- end row -->
            
                    
            <div class="row">
                <div class="col-12">
                    <div class="card m-b-30">
                        <div class="card-body">
                                <form class="form-inline md-form form-sm" action ="action_page.php" method = "get">
                                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                                        <button class="btn btn-primary" type="submit">Search</button>
                                    </form>
                          <br>
                            <table id="mainTable" class="table table-striped mb-0 table-editable">
                                <thead>
                                    <tr>
                                        <th>Gender</th>
                                        <th>Occupation</th>
                                        <th>Adress</th>
                                        <th>Email</th>
                                        <th>Cellphone</th>
                                        <th>Firstname</th>
                                        <th>Lastname</th>
                                        <th>Block</th>
                                       
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let parent of peopleService.parents">
                                            <td>{{parent.gender}}</td>
                                            <td>{{parent.occupation}}</td>
                                            <td>{{parent.address}}</td>
                                            <td>{{parent.email}}</td>
                                            <td>{{parent.cellphone}}</td>
                                            <td>{{parent.fname}}</td>
                                            <td>{{parent.lname}}</td>
     
                                        <td>
                                            <a href="javascript" type="button" [hidden]="parent.blocked" class="btn btn-warning" (click)="peopleService.selectedParent=parent;" data-toggle="modal" data-target="#blockparent">Block</a>
                                            <a href="javascript" type="button" [hidden]="!parent.blocked" class="btn btn-warning" (click)="peopleService.selectedParent=parent;" data-toggle="modal" data-target="#blockparent">Unblock</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container-fluid -->
    </div>
    <!-- end wrapper -->
</div>
    
    <script>
        $('#mainTable').editableTableWidget().numericInputExample().find('td:first').focus();
    </script>
    
    <app-footer></app-footer>
    
        <!-- Block Modal HTML -->
        <div id="blockparent" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form>
                        <div class="modal-header">						
                            <h4 class="modal-title">Block</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        </div>
                        <div class="modal-body">					
                            <p>?Are you sure you want to block these Records</p>
                        </div>
                        <div class="modal-footer">
                            <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                            <button [hidden]="peopleService.selectedParent.blocked" (click)="peopleService.blockParent()"   input type="Block" class="btn btn-danger" value="Block">Block</button>
                            <button [hidden]="!peopleService.selectedParent.blocked" (click)="peopleService.unblockParent()" input type="Block" class="btn btn-danger" value="Block">Unblock</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="/src/assets/js/fuction.js"></script>