   <div class="header-bg">
        <!-- Navigation Bar-->
        <app-nav></app-nav>
    </div>
    <!-- header-bg -->

    <div class="wrapper">
        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="page-title-box">
                <div class="row align-items-center">
                    <div class="col-sm-6">
                        <h4 class="page-title">Dashboard</h4>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-right">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Watch Me</a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    </div>
                </div>
                <!-- end row -->
            </div>

            <div class="row">

                <div class="col-sm-6 col-xl-3">
                    <div class="card">
                        <div class="card-heading p-4">
                            <div class="mini-stat-icon float-right">
                                <i> <img src=".../../../../../assets/images/dashboard/watch.png" alt="" width="90"> </i>
                            </div>
                            <div>
                                <h5 class="font-16">Active Watches</h5>
                            </div>
                            <h3 class="mt-4">43,225</h3>
                            </div>
                    </div>
                </div>
                
                <div class="col-sm-6 col-xl-3">
                    <div class="card">
                        <div class="card-heading p-4">
                            <div class="mini-stat-icon float-right">
                                <i> <img src=".../../../../../assets/images/dashboard/Active_watch.png" alt="" width="90"> </i>
                            </div>
                            <div>
                                <h5 class="font-16">Offline Active</h5>
                            </div>
                            <h3 class="mt-4">$73,265</h3>
                              </div>
                    </div>
                </div>

                <div class="col-sm-6 col-xl-3">
                    <div class="card">
                        <div class="card-heading p-4">
                            <div class="mini-stat-icon float-right">
                                <i class="mdi mdi-tag-text-outline bg-warning text-white"></i>
                            </div>
                            <div>
                                <h5 class="font-16">Total Parents</h5>
                            </div>
                            <h3 class="mt-4">447</h3>
                            
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-xl-3">
                    <div class="card">
                        <div class="card-heading p-4">
                            <div class="mini-stat-icon float-right">
                                <i class="mdi mdi-alert-outline  bg-danger text-white"></i>
                            </div>
                            <div>
                                <h5 class="font-16">Alert</h5>
                            </div>
                            <h3 class="mt-4">86</h3>
                           
                        </div>
                    </div>
                </div>
            </div>
          
           <h4 class="heading">Geo-fencing</h4>
            <!-- START ROW -->
            <div class="row">
                <div class="col-xl-12">
                    <div class="card m-b-30">
                        <div class="card-body">
                            <h4 class="mt-0 header-title mb-4">Active Deals</h4>
                            <div id="bombs">
                                    <div class="score" id="US"></div>
                                    <div class="score" id="CP"></div>
                                    <div class="score" id="GB"></div>
                                    <div class="score" id="FR"></div>
                                    
                                    <div id="time"></div>
                                    <canvas id="stage" width="500" height="250"></canvas>
                                    
                                    <div class="score" id="IN"></div>
                                    <div class="score" id="PC"></div>
                                    <div class="score" id="IS"></div>
                                    <div id="total" data-score="0"></div>
                                  </div>
                                  
                            </div>

                        </div>
                    </div>
                </div>

         
            <!-- END ROW -->

        </div>
        <!-- end container-fluid -->
    </div>
    <!-- end wrapper -->


<app-footer></app-footer>